{% include 'includes/head.py' with context %}


{% include 'includes/common.py' with context %}


{% include 'includes/nginx.py' with context %}


{% include 'includes/database.py' with context %}


{% include 'includes/app.py' with context %}
{% if init_app %}{% include 'includes/app_init.py' with context %}{% endif %}
{# keep trailing newline #}
