{% include 'includes/head.j2' with context %}


{% include 'includes/common.j2' with context %}


{% include 'includes/nginx.j2' with context %}


{% include 'includes/database.j2' with context %}


{% include 'includes/app.j2' with context %}
{% if init_app %}{% include 'includes/app_init.j2' with context %}{% endif %}
{# keep trailing newline #}
