import os
import fabric

from fabric.api import run, sudo, cd

fabric.state.env.colorize_errors = True
fabric.state.output['stdout'] = False

# task const variables
VARS = dict(
    current_user=fabric.state.env.user,
    # project settings
    project_name='{{ proj_name }}',
    project_dir_name='{{ proj_name }}',
    user_data=dict(
        email='root@e.co',
        name='tmp user',
        password='123123'
    ),
    # dirs configs
    templates_dir='./provision/templates',
    root_dir='/home/vagrant/proj',
    venv_path='/home/vagrant/venv',
    base_dir='/home/vagrant',
    # nginx config
    http_host='{{ proj_ip }}',
    http_port='80',
    # database config
    db_password='{{ db_pass }}',
    db_user='{{ db_user }}',
)


def common():
    """ Common tasks """
    locale()
    apt_packages()
    python3_packages()


def nginx():
    """ Install nginx tasks """
    # install nginx
    sudo('apt-get -y install nginx')
    # create nginx config file for project
    fabric.contrib.files.upload_template(
        'nginx-host.j2', '/etc/nginx/sites-available/{project_name}'.format(**VARS),
        context=VARS, use_jinja=True, backup=False, use_sudo=True, template_dir=VARS['templates_dir'])
    # make s-link to enabled sites
    sudo('ln -sf /etc/nginx/sites-available/{project_name} /etc/nginx/sites-enabled/{project_name}'.format(**VARS))
    # restart nginx
    sudo('service nginx restart')


def database():
    """ Install database """
    # install postgres apt
    sudo('apt-get -y install postgresql postgresql-server-dev-all python-psycopg2')
    # make postgers password
    sudo('-u postgres psql -c "ALTER USER {db_user} WITH PASSWORD \'{db_password}\';"'.format(**VARS))


def locale():
    """ Set locale to enviroment """
    fabric.contrib.files.upload_template(
        'locale.gen.j2', '/etc/locale.gen',
        context=VARS, use_jinja=True, backup=False, use_sudo=True, template_dir=VARS['templates_dir'])
    fabric.contrib.files.upload_template(
        'environment.j2', '/etc/environment',
        context=VARS, use_jinja=True, backup=False, use_sudo=True, template_dir=VARS['templates_dir'])
    run('locale-gen')

def apt_packages():
    """ Install common packages """
    sudo('apt-get -y update')
    sudo('apt-get -y install libcurl4-gnutls-dev libexpat1-dev gettext libz-dev libssl-dev git')

def python3_packages():
    """ Install python3 components """
    pass

def app():
    """ Run application tasks """
    pass
